!!! 5
%html
	%head
		%title word rainbow dot com
		<link href="static/stylesheets/blueprint_screen.css" media="all" rel="stylesheet" type="text/css">
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css" media="all" rel="stylesheet" type="text/css">		
		<link href="static/stylesheets/application.css" media="all" rel="stylesheet" type="text/css">
		
	
	
		<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script><script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/jquery.colors.bundle.min.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/app.mixer.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/app.identifier.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/raphael-min.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/application.js" type="text/javascript"></script><script language="javascript" src="static/javascripts/app.visualizer.js" type="text/javascript"></script>
	%body
		= yield